{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}


{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'website/images/bg_12.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				<div class="intro">
    					<h3><span>01</span> Travel</h3>
    					<p>As a team of travelers ourselves, the biggest work perk we could get is the chance to continue exploring the world and connecting with others along the way -- and we do!</p>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="intro">
    					<h3><span>02</span> Experience</h3>
    					<p>On a trip where the only surprises are those you’ll enjoy. Your travel experience is our priority.</p>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="intro">
    					<h3><span>03</span> Relax</h3>
    					<p>The deepest travel discounts on hotels, cars, flights and vacation packages.</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'website/images/bg_12.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="40">0</strong>
		                <span>Destination Places</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="80">0</strong>
		                <span>Hotels</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="560">0</strong>
		                <span>Restaurant</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		
		<section class="ftco-about d-md-flex">
    	<div class="one-half img" style="background-image: url({% static 'website/images/about.jpg' %});"></div>
    	<div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">About Sayyor Travel Company</h2>
        </div>
        <div>
  				<p>Sayyor Travel is a travel company of Uzbekistan, which was established in 2019. Our company is young, but with great potential, which lies in a team of experienced employees. We have experience in serving various categories of tourists, ranging from low-budget to VIP level, including serving delegations at the highest level.</p>
  			</div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Our satisfied customer says</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">


              <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_1.jpg' %})">
            <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
          </div>
          <div class="text">
            <p class="mb-5">I want to thank you so much for helping us with the Registan trip.  Everyone had a really great trip - one of the grandkids said he didn't think it was possible to have a better vacation.</p>
            <p class="name">Nancy Butler</p>
            <span class="position">Marketing Manager</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_2.jpg' %})">
            <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
          </div>
          <div class="text">
            <p class="mb-5">I can't thank you enough for another wonderful adventure!! All of the places you recommended were wonderful, from location to ambience to lovely and caring staff.</p>
            <p class="name">Robert Romano</p>
            <span class="position">Designer</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_5.jpg' %})">
            <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
          </div>
          <div class="text">
            <p class="mb-5">Thank you so much for the excellent St Petersburg tour- we had a great experience and learned so much about imperial Russia.</p>
            <p class="name">Jasmin Gafurova</p>
            <span class="position">Economist</span>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url({% static 'website/images/person_4.jpg' %})">
            <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
          </div>
          <div class="text">
            <p class="mb-5">The trip was fabulous!!!  Thanks to your deft hand, we just followed the itinerary and showed up.  It rained alot but did not encumber us one bit. Comes and goes. Suit up and go. Crowds minimal.</p>
            <p class="name">Alex Jackson</p>
            <span class="position">Doctor</span>
          </div>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-yatch"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Special Activities</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-around"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Travel Arrangements</h3>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-compass"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Private Guide</h3>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-map-of-roads"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Location Manager</h3>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>


    {% endblock %}