{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="hero-wrap js-fullheight" style="background-image: url({% static 'website/images/bg_13.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'home' %}">Home</a></span><span class="mr-2"><a href="{% url 'places' %}">Places</a></span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{post.place_name}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    	<br><br>
    	<center>
    		<img style="width: 80%;" src="{{post.news_image2.url}}">
    	</center>
    	<dir class="row">
    		<div class="col-md-6 col-lg-6">
    			<img style="height: 200px; width: 300px; display: block; margin-right: auto; margin-left: auto;" src="{{post.news_image.url}}">
    		</div>
    		<div class="col-md-6 col-lg-6">
    			<img style="height: 200px; width: 300px; display: block; margin-right: auto; margin-left: auto;" src="{{post.news_image3.url}}">
    		</div>
    	</dir>
    	<dir class="row">
    		<div class="col-md-6 col-lg-6">
    			<img style="height: 200px; width: 300px; display: block; margin-right: auto; margin-left: auto;" src="{{post.news_image4.url}}">
    		</div>
    		<div class="col-md-6 col-lg-6">
    			<img style="height: 200px; width: 300px; display: block; margin-right: auto; margin-left: auto;" src="{{post.news_image5.url}}">
    		</div>
    	</dir>
    </div>
{% endblock %}